header {
    margin-top: -55px;
    background: rgb(6, 66, 96);
    background: linear-gradient(90deg, rgba(6, 66, 96, 1) 19%, rgba(61, 90, 128, 1) 100%);
    height: 520px;
    overflow: hidden;
}


h1 {
    position: absolute;
    transform: translate(25%, 100%);
    margin-top: 0;
    margin-bottom: 20px;
}


ul {
    list-style: initial;
    color: #fff;
    margin-top: 60px;
    margin-left: 85px;
    position: absolute;
}


li {
    display: inline-table;
    text-align: center;

}

li span {
    display: table-cell;
    vertical-align: middle;
    height: 48px;
    /* icon's height */
}


.clear-body-content-margin {
    margin-left: -150px;
}


.bubble_path {
    position: relative;
    transform: translate(50%, 45%);
    width: 960px;
    height: 274.5px;
}


.header-icon {
    position: relative;
    width: 60px;
    height: 52.5px;
    padding: 15px;
}


.header-icon:hover {
    background-color: rgba(224,251,252, 0.1);
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(224,251,252, 0.2);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(224,251,252, 0);
    }

    100% {
    }
}


.header-calendar {
    transform: translate(-340px, -13px);
}


.section-features {
    background-color: #023047;
    height: 260px;
}

.homepage-icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    margin-left: 30px;
}

.section-about-kilsotopia {
    padding: 20px;
    margin: 100px 20%;
}

.section-about-kilsotopia-title {
    border-bottom: #3d5a80 2px solid;
    border-bottom-style: outset;
    margin: 0 20%;
}


.section-about-kilsotopia-title h2 {
    color: #3d5a80;
    margin: 10px 0;
}


.section-about-kilsotopia-information {
    padding: 3%;
    color: #3d5a80;
}


.section-calendar-to-do {
    background-color: #023047;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    height: 380px;
}

.calendar-information {
    color: #fff;
    width: 40%;
}

#seciton-calendar-title {
    text-transform: capitalize;
}


.section-calendar-to-do p {
    margin: 30px auto;
    width: 80%;
}


.calendar-image {
    display: inline-block;
    position: relative;
    width: 480px;
    height: 320px;
    border-radius: 15px;
    margin: 30px 0;
    box-shadow: #666 0px 5px 10px 6px;
}

.calendar-btn-full {
    position: absolute;
    margin: 80px 210px;
    left: 0;
    text-decoration: none;
    color: white;
    background-color: #324e63;
    border-radius: 60px;
    padding: 15px;
}


.calendar-btn-full:hover {
    background-color: #596e80;
}