<div class="clear-body-content-margin">
    <header>
        <h1>Welcome to <br>kilsotopia</h1>
        <img class="bubble_path" src="../../assets/images/bubble_path_pixel_art_640x183.png" alt="bubble_path">
        <img class="header-icon header-calendar" src="../../assets/images/calendar_pixel_art_40x35.png" alt="calendar_icon" (click)="onCalendarIconClick()">
    </header>
    <section class="section-features">
        <ul id="section-features-ul">
            <li>
                <img class="filter-white homepage-icon" src="../../assets/images/calendar-icon.svg" alt="calendar-icon">
                <span>Make calendar notes</span>
            </li>
        </ul>
    </section>
    <section class="section-about-kilsotopia">
        <section class="section-about-kilsotopia-title">
            <h2>About kilsotopia</h2>
        </section>
        <section class="section-about-kilsotopia-information">
            <p>Hi I am Kilsom and I am a web developer who loves to code and experiment with different projects and
                that's why I made Kilsotopia.</p>
            <p>Kilsotopia is a place where I will put all my projects. Here you will be able to check out what my
                projects are about and if something catches your eye you can check it out.</p>
        </section>
    </section>
    <section class="section-calendar-to-do" id="section-calendar">
        <div class="calendar-information">
            <h2 id="seciton-calendar-title">Calendar-To-Do</h2>
            <p id="seciton-calendar-information">In Calendar-To-Do you can make notes to specific day.
                Just click on day and you can add, update or delete the note.</p>
            <a class="calendar-btn-full" [routerLink]="['/calendar']" (click)="onCalendarBtnClick()">Check out</a>
            <a class="hidden">see more</a>
        </div>
        <img class="calendar-image" src="../../assets/images/calendar/calendar_v1.png" alt="calendar-image">
    </section>
</div>