<div class="clear-body-content-margin" *ngIf="token && email">
    <div class="flex-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
            <h1>
                Change your password
            </h1>

            <div class="input-wrapper">
                <input formControlName="email" class="input disabled" id="email" type="text" placeholder="Email">
                <label class="label" for="email">Email</label>
            </div>

            <div class="input-wrapper">
                <input formControlName="newPassword" class="input" type="password" id="newPassword" placeholder="New Password"
                    [ngClass]="{'input-invalid': submitted && resetPasswordForm.get('newPassword')?.errors}">
                <label class="label" for="newPassword">New Password</label>
                <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
                    New Password is required
                </span>
                <span class="text-danger" *ngIf="submitted && 
                resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maxlength')">
                    New Password must be at least 6, and maximum 15 characters
                </span>
            </div>

            <app-validation-messages class="error-messages-text" *ngIf="errorMessages.length > 0"
                [errorMessages]="errorMessages"></app-validation-messages>

            <div class="send-email-btn-container">
                <button class="form-btn btn-row-2 btn-primary" type="submit">Change password</button>
                <button class="form-btn btn-row-2 btn-ghost" type="submit" [routerLink]="['/account/login']">Cancel</button>
            </div>
        </form>
    </div>
</div>