h1 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    text-transform: none;
    text-align: center;
}


span {
    display: block;
}

span::first-letter {
    text-transform: capitalize;
}


.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 30%;
    margin: 10% 35% 0 35%;
}


.send-email-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btn-row-2 {
    position: relative;
    display: block;
    min-width: 0;
}

.btn-primary {
    width: 60%;
}


.btn-ghost {
    color: #000;
    background-color: #f2f4f7;
    width: 40%;
}


.btn-ghost:hover {
    background-color: #dcdde3;
}


.error-messages-text {
    max-width: 400px;
}


.disabled {
    background-color: #eee;
}


.input-invalid {
    border-color: #C7001D;
}
