.grid-container {
    background-color: #EEE;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto repeat(6, 120px);
}

.grid-week-days {
    text-align: center;
    padding: 1.7%;
}

.grid-items,
.grid-items-selected {
    border-radius: 4px;
    padding: 4px;
}

.grid-items {
    border: 2px solid #EEE;
    background-color: #FFF;
}

.grid-items-selected {
    border: 2px solid green;
    background-color: #eee;
}

.grid-items-day-outside-of-month {
    color: #aaa;
}

.grid-items-current-day {
    border: 2px solid #89CFF0; /* baby blue */
}