nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #023047;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    z-index: 100;
    height: 55px;
    display: flex;
    text-align: center;
    justify-content: center;
}


ul {
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    margin: auto 10px;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    padding: 0px 8px;
    transition: background-color 200ms ease-in-out;
    border-radius: 8px;
}

li a:hover {
    background-color: #596e80;
}

.nav-brand {
    width: 15%;
    margin: auto 0px;
}


.navbar-account-item {
    position: relative;
    background-color: transparent;
    right: 0;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 15%;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav-logout {
    transition: background-color 200ms ease-in-out;
    margin: 2% 0;
    padding: 5px;
    border-radius: 10px;
    transform: scale(80%);
    cursor: pointer;
}

.btn-nav-logout:hover {
    background-color: #596e80;
}

.active {
    background-color: #324e63;
}