ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #023047;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    z-index: 100;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    margin: auto 10px;
    text-align: center;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    padding: 0px 8px;
}

li a:hover {
    background-color: #596e80;
    border-radius: 8px;
}

.active {
    background-color: #324e63;
    border-radius: 8px;
}