<div class="sidebar">
    <h2>Calendar-To-Do</h2>
    <ul>
        <li>
            <img class="filter-white sidebar-icon" src="../../../assets/images/calendar-icon.svg" alt="calendar-icon">
            <a [routerLink]="['/calendar']">Calendar</a>
        </li>
        <li>
            <img class="filter-white sidebar-icon" src="../../../assets/images/calendar/notes.icon.svg"
                alt="notes-icon">
            <a [routerLink]="['/calendar/notes']">Notes</a>
        </li>
    </ul>
</div>