<div class="clear-body-content-margin">
    <div class="flex-container">
        <form>
            <h1>Login</h1>
            <div class="input-wrapper">
                <input autocomplete="off" class="input" id="userName" type="text" placeholder="Username">
                <label class="label" for="userName">Username</label>
            </div>
            <div class="input-wrapper">
                <input class="input" type="password" id="password" placeholder="Password">
                <label class="label" for="password">Password</label>
            </div>
            <a class="forgot-password">Forgot password?</a>
            <button class="form-login-btn" type="submit">Log In</button>
        </form>
    </div>
</div>