h1 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    text-align: start;
}


.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 30%;
    margin: 10% 35% 0 35%;
}

.forgot-password {
    color: #1b76d0;
    margin: 10px 0;
    text-align: left;
    text-decoration: none;
    display: block;
    cursor: pointer;
    width: fit-content;
    border-bottom: 1px solid transparent;
}

.forgot-password:hover {
    border-bottom: 1px solid #1b76d0;
}


.text-wrap {
    display: block;
    max-width: 300px;
    margin-top: 15px;
}


.btn {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.btn-link {
    color: #1b76d0;
    text-decoration: underline;
}


.error-messages-text {
    max-width: 300px;
}