/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1,
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
}


h1 {
    font-size: 60px;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: #fff;
}


h2 {
    font-size: 48px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h4 {
    font-size: 24px;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.sidebar {
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    background-color: #023047;
}

.body-content {
    margin-left: 150px;
    margin-top: 55px;
    display: block;
}


.clear-body-content-margin {
    margin-left: -150px;
}


.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


.ck-editor__editable_inline {
    min-height: 100px;
}


.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /* To create space for floating inputs */
    margin-top: 30px;
    margin-inline: auto;
    max-width: 400px;
    min-width: 300px;
}


.input {
    font-size: 16px;
    width: 100%;
    padding: 18px 4px 14px;
    color: #333;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: none;
    transition-property: border-color, box-shadow, -webkit-box-shadow;
    transition-duration: 334ms;
    background-color: transparent;

    &:focus {
        outline: none;
        border-color: rgb(100, 120, 190);
        box-shadow: 0 0 1px #0a66c2;
    }

    &::placeholder {
        color: transparent;
    }

    /*  Hide Safari's autofill button */
    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }
}


.label {
    position: absolute;
    top: 14px;
    left: 0;
    padding-left: 4px;
    color: #43454e;
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
}


.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    transform: translateY(-70%) scale(0.80);
}

.form-login-btn {
    margin: 20px 2%;
    padding: 15px;
    width: 100%;
    min-width: 250px;
    color: #fff;
    text-transform: capitalize;
    background-color: #0a66c2;
    transition: background-color 250ms ease-in-out;
    border-radius: 25px;
    position: relative;
}


.form-login-btn:hover {
    background-color: #0a4692;
}

.text-danger {
    max-width: 300px;
    color: #C7001D;
    display: block;
    text-align: left;
}

.hidden {
    display: none;
    visibility: hidden;
}