<div class="modal-header" [ngClass]="{'bg-success': data.isSuccess, 'bg-danger': !data.isSuccess}">
    <h4 class="modal-title">{{data.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dialogRef.close()">
        <mat-icon class="modal-close-icon">close</mat-icon>
    </button>
</div>
<div class="modal-body">
    <span class="modal-body-content">
        {{data.message}}
    </span>
</div>
<div class="modal-footer">
    <button type="button" class="btn-default" (click)="dialogRef.close()">Ok</button>
</div>